# Node.js specific
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env

# Logs
*.log
logs

# IDE / OS
.vscode
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml